parameters:
  level: max
  paths:
    - email-user-cleaner.php
  excludePaths:
    - .github/*
    - .wordpress-org/*
    - tools/*
  bootstrapFiles:
    - phpstan-bootstrap.php
  reportUnmatchedIgnoredErrors: false

  ignoreErrors:
    - '#Function .* not found.#'
    - '#Call to unknown method .*#'
    - '#Access to an undefined property .*#'
    - '#Access to private property .*#'
    - '#Access to property \$.* on an unknown class .*#'
    - { identifier: missingType.iterableValue }
    - { identifier: missingType.generics }
