parameters:
  level: max
  paths:
    - email-user-cleaner.php
  excludes_analyse:
    - .github/*
    - .wordpress-org/*
    - tools/*
  bootstrapFiles:
    - phpstan-bootstrap.php
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  reportUnmatchedIgnoredErrors: false

  # Ignora errori comuni causati da WP dinamico
  ignoreErrors:
    - '#Function .* not found.#'
    - '#Call to unknown method .*#'
    - '#Access to an undefined property .*#'
    - '#Access to private property .*#'
    - '#Parameter #\d+ \$.* of function .* expects .*#'
