name: PHP Quality Tools

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  code_quality:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Install dependencies
      run: composer install --no-interaction

    - name: Run PHPStan
      run: vendor/bin/phpstan analyse --memory-limit=512M

    - name: Run PHPCBF (even if errors remain)
      continue-on-error: true
      run: vendor/bin/phpcbf --standard=.phpcs.xml.dist

    - name: Prepare Fixed PHP Files Archive
      run: |
        mkdir fixed-php
        find . -type f -name '*.php' -not -path './vendor/*' -not -path './fixed-php/*' -exec cp --parents {} fixed-php/ \;
        cd fixed-php
        zip -r ../fixed-php.zip .
        cd ..

    - name: Upload Fixed PHP Files
      uses: actions/upload-artifact@v6
      with:
        name: fixed-php
        path: fixed-php.zip

    - name: Generate PHPCS XML report
      continue-on-error: true
      run: vendor/bin/phpcs --standard=.phpcs.xml.dist --report=checkstyle --report-file=phpcs-report.xml

    - name: Generate readable PHPCS HTML report
      continue-on-error: true
      run: php .github/phpcs-html-report-generator.php

    - name: Upload PHPCS HTML report
      uses: actions/upload-artifact@v6
      with:
        name: phpcs-report
        path: phpcs-report.html